.tab-item-container {
  margin-right: 30px;
  list-style: none;
  list-style-type: none;
}
.active-tab-btn {
  background-color: #db1c48;
}
.tab-btn {
  background-color: #ffffff;
  border-color: #db1c48;
  color: #1e293b;
  border-radius: 10px;
}
